<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <h1>EXPRESSSSSSS Congee Gallery</h1>
    <h3>All images by Erica!</h3>
    <div class="gallery"></div>
    <%- include('../partials/footer') %>
  </body>
</html>
