<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <div class="register">
      <h2>Login</h2>
      <div class="form-section">
        <form>
          <div class="form-action">
            <label for="email"> Email: </label>
            <input type="email" name="_replyto" />
          </div>
          <div class="form-action">
            <label for="password">Password: </label>
            <input type="text" name="password" />
          </div>
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
